*{
    box-sizing: border-box;
}
.inputBox{
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
}

.option1{
    margin-bottom: 20px;
}
.modal-screen{
    /* position: absolute;
    top: 0;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #c3c3c3;
}
.user-language, .translate-language{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 4px;
}
.user-language:hover, .translate-language:hover{
    color: blue;
}