@import "./grid";
@import "./variables";
@import "./mixins";

$lang-indicator-size: 12px;
$slide-width: 80px;
$slide-margin: 40px;
$slide-num: 13 * 2;
$animationSpeed: 50s;

$max-screen-width: 1500px;

@include google-font('Inter', 200);
@include google-font('Krona One', 400);



$lang-colours: (
    html: #C4501E,
    css: #4577EB,
    js: #F0DB4F,
    php: #8993BE,
    python: #FFD342,
    cplus: #00599C
);

$lang-bg-colours: (
    html: #C4501E,
    css: #4577EB,
    js: #F0DB4F,
    php: #8993BE,
    python: #FFD342,
    cplus: #00599C,
    swift: #ED4228,
    kotlin: #D86783,
    rust: #F74B00,
    r: #1C62B3,
    java: #F8981D,
    ruby: #930F17,
    go: #74CEDD,
);


body {
    color: $text-color;
    font-family: $body-font;
    min-height: 100vh;
    line-height: 150%;
}

.wrapper {
    max-width: $max-screen-width;
    margin: 0 auto;
    min-height: 100vh;

    @include flexbox(column, space-between, center)
}

// source: https://codepen.io/studiojvla/pen/qVbQqW

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(($slide-width + ($slide-margin * 2)) * ($slide-num / 2))); }
}


.slider {
	height: 150px;
	overflow: hidden;
	width: 100%;
    position: relative;
    opacity: 0.6;

    @mixin gradient {
        background: linear-gradient(to right,  rgba(42,42,42,0.5)
        0%, rgba(255,255,255,0) 10%);
    }

    &::before,
	&::after {
		@include gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
        position: absolute;
        right: 0;
        bottom: 0;
		@include flexbox(row, center, flex-start);
		width: calc(($slide-width + ($slide-margin * 2)) * ($slide-num));

        @each $slide, $colour in $lang-bg-colours {
            .#{$slide} {
              background-color: $colour;
            }
        }
	}
	
	.slide {
		@include heightWidth($slide-width, $slide-width, $slide-width);
        // @include flexbox(column, space-evenly, center);
        margin: $slide-margin;
        font-size: 20px;
        font-family: $body-font;
        font-weight: 100;

        // @each $slide, $colour in $lang-colours {
        //     .#{$slide} {
        //       background-color: $colour;
        //     }
        // }

        // .circle {
        //     @include heightWidth(60px, 60px, 60px);
        //     // background-color: white;
        // }
	}
}

.lang-select-container {
    @include flexbox(row, center, flex-start);
    margin: 20px 0;

    button {
        color: $text-color;
    }
}

.lang-select {
    @include flexbox(row, center, center);

    @each $lang, $colour in $lang-colours {
        .#{$lang} {
          background-color: $colour;
        }
    }
    
    span {
        @include heightWidth($lang-indicator-size, $lang-indicator-size, $lang-indicator-size);
        margin-right: 10px;
    }
}

.logo-container{
    @include flexbox(column, center, center);

    img {
        width: 100%;
        max-width: 370px;
        margin-bottom: 30px;
    }
}

.center-content-container {
    @include flexbox(column, space-evenly, center);
    height: 50vh;

    .btn {
        width: 100%;
        max-width: 300px;
        padding: 20px;
        margin: 0;
        background-color: #97A6E6;
        font-family: $body-font;
        color: #231F20;
        text-decoration: none;
        @include flexbox(row, center, center);

        img {
            margin-left: 10px;
        }
    }
}

.content-container {
    height: 100%;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-areas: 
        "centerPane"
        "leftPane"
        "rightPane"
    ;
    grid-template-columns: 1fr;
    margin-top: 40px;


    #pills-tabContent-left, .center-content-container, #pills-tabContent-right {
        margin: 0 auto;
        width: fit-content;
    }

    .center-content-container {
        grid-area: centerPane;
        height: 500px;
    }

    #pills-tabContent-left{
        grid-area: leftPane;
        
    }

    #pills-tabContent-right{
        grid-area: rightPane;
    }

    .tab-pane {
        width: fit-content;
        font-size: 16px;
        max-width: 400px;
        margin-bottom: 30px;
        padding: 20px;

        h2 {
            font-size: 20px;
        }

        a {
            color: $text-color;
            letter-spacing: 0.1rem;
        }

        & > * {
            padding-bottom: 15px;
        }
    }

    @media (min-width: map-get($breakpoints, lg)) {
        @include flexbox(row, space-between, center);

        max-width: 85%;

       #pills-tabContent-left, .center-content-container, #pills-tabContent-right {
            width: 33%;
        }

        .tab-pane {
            max-width: 300px;
        }

        #pills-tabContent-right .tab-pane {
            margin-left: auto;
        }
    }

    @media (min-width: map-get($breakpoints, sm)) {
        .tab-pane{
            padding: 0;
        }
    }
}

.subtext {
    padding: 20px;

    @media (min-width: map-get($breakpoints, sm)) {
        padding: 0;
    }
}

.cypher-brandname {
    font-family: $heading-font;
    color: #D9D9D9;
    font-size: 49px;
}


.nav-container {
    // overflow-x: scroll;
    max-width: 100vw;
    scrollbar-color: rgb(70, 70, 70) rgb(38, 38, 38);
}

.lang-select-container {
    min-width: 740px;
}